@model INavigation

@if (Model.Items.IsAndAny())
{
    <nav class="footer">
        <ul>
            @foreach (var item in Model.Items)
            {
                <li>
                    <a href="@item.Url" @Html.Attribute("target", item.Target ?? null)>@item.Name</a>
                </li>
            }
        </ul>
    </nav>
}