@inherits UmbracoViewPage<INavigation>

@if (Model.Items.IsAndAny())
{
    <nav class="secondary">
        <ul>
            @foreach (var item in Model.Items)
            {
                <li>
                    <a href="@item.Url" @Html.Attribute("target", item.Target ?? null)>@item.Title</a>
                </li>
            }
        </ul>
    </nav>
}
