[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
*.suo
*.sln.cache
*.user
TestResults/
*.tmp
*.orig
*[Rr]e[Ss]harper.user
_ReSharper.*/
*StyleCop.Cache
.DS_Store
Thumbs.db
__MACOSX/
.sass-cache/
/bin
/Bin
.bin/
.Bin/
App_Browsers/
*/App_Data/cache/
*/App_Data/courier/
*/App_Data/preview/
*/App_Data/TEMP/
*/App_Data/NuGetBackup/
*/App_Data/Logs/
*/App_Data/umbraco.config
*/App_Data/umbraco.licensing.log.txt
*/App_Plugins/dummy.txt
[Cc]ached/
ClientDependency/
ExamineIndexes/
UmbracoSandbox.Web.UI/media/*
UmbracoSandbox.Web.UI/ServerError.aspx