<div ng-controller="Data.DataTree.EditController">
    <umb-panel>
        <umb-header tabs="content.tabs">
            <div class="umb-headline-editor-wrapper span12 ng-scope">
                <h1 class="ng-binding">Donations</h1>
            </div>
        </umb-header>
        <umb-tab-view>
            <umb-tab id="tab1" rel="1">
                <div class="umb-pane">
                    <h3>Export donations</h3>
                    <button class="btn btn-success" type="submit">Download</button>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>Date</td>
                                <td>Name</td>
                                <td>Amount</td>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <div class="pagination pull-right">
                                        <ul>
                                            <li ng-class="{disabled: currentPage == 0}">
                                                <a href ng-click="prevPage()">« Prev</a>
                                            </li>
                                            <li ng-repeat="n in range(currentPage) "
                                                ng-class="{active: n == currentPage}"
                                                ng-click="setPage()">
                                                <a href ng-bind="n + 1">1</a>
                                            </li>
                                            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                                <a href ng-click="nextPage()">Next »</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr ng-repeat="donation in pagedItems[currentPage]">
                                <td>{{donation.Date | date:'MM/dd/yyyy @ HH:mm:ss'}}</td>
                                <td>{{donation.Name}}</td>
                                <td>{{donation.Amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </umb-tab>
        </umb-tab-view>
    </umb-panel>
</div>