@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using RJP.MultiUrlPicker.Models;
@{
    var linkVal = Model.MacroParameters["link"].ToString();
    var multiUrls = string.IsNullOrEmpty(linkVal) ? null : new MultiUrls(linkVal);
    var link = multiUrls != null ? multiUrls.FirstOrDefault() : null;
    var cssClass = Model.MacroParameters["cssClass"].ToString();
}

@if (link != null)
{
    var url = link.Url;
    if (string.IsNullOrEmpty(url))
    {
        var node = Umbraco.TypedContent(link.Id);
        url = node != null ? node.Url : url;
    }

    <a href="@url" @Html.Attribute("class", string.IsNullOrEmpty(cssClass) ? null : cssClass)
       @Html.Attribute("target", link.Target ?? null)>@link.Name</a>
}
