@model HomeViewModel
@{
    Layout = "Shared/_Layout.cshtml";
}
@if (Model.ShowModules)
{
    <div class="container">
        <div class="row">
            @foreach (var module in Model.Modules)
            {
                @Html.Partial(module.PartialName, module)
            }
        </div>
    </div>
}