@model HomePageViewModel
@{
    Layout = "Shared/_Layout.cshtml";
}

<div class="container">
    <h1>@Model.Title</h1>
    @Model.BodyText
    <div class="row">
        <div class="col-xs-4">
            <h2>Get started</h2>
            <p>Why haven't you got started?</p>
        </div>
        <div class="col-xs-4">
            <h2>Keep going</h2>
            <p>This is the bit where you keep going</p>
        </div>
        <div class="col-xs-4">
            <h2>This is the end</h2>
            <p>Beautiful friend</p>
        </div>
    </div>
</div>