@model ListingViewModel
@{
    Layout = "Shared/_Layout.cshtml";
}
<div class="container">
    <div class="col-xs-8">
        @if (Model.ShowItems)
        {
            foreach (var item in Model.Items)
            {
                @Html.Partial(item.PartialName, item)
            }
        }
    </div>
    <div class="text-center"><a href="#" id="loadmore" class="btn btn-primary">Older Posts...</a></div>
</div>