@model TimelineViewModel
@{
    Layout = "Shared/_Layout.cshtml";
}

<div class="container">
    @if (Model.Timeline.IsAndAny())
    {
        foreach (var entry in Model.Timeline)
        {
            @Html.Partial("../Timeline/_TimelineEntry", entry)
        }
    }
</div>